@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
  @apply w-full h-full bg-gray-100 text-gray-900;
}

.link {
  @apply text-gray-800 underline;

  &:hover {
    @apply text-gray-600;
    cursor: pointer;
  }
}

.form-default {
  @apply text-sm;

  .input {
    @apply flex items-center w-full py-2;

    label {
      @apply w-1/4 text-gray-700;
    }

    input[type='text'], input[type='password'] {
      @apply w-3/4 p-1 border rounded;
    }
  }
}

.btn {
  @apply py-1 px-2 text-gray-900 rounded text-xs font-semibold;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  border: 1px solid rgba(27,31,35,.2);
  cursor: pointer;

  &:hover {
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border: 1px solid rgba(27,31,35,.35);
  }
}

.title-page {
  @apply w-full mb-4 py-1 px-2 bg-gray-100 rounded text-gray-700 font-semibold;
}

.notification {
  @apply my-4 p-2 bg-blue-100 border border-blue-600 rounded text-sm text-blue-600;
}

.notification-errors {
  @apply bg-red-100 border-red-600 text-red-600;
}

.notification-success {
  @apply bg-green-100 border-green-600 text-green-600;
}

.table-default {
  @apply text-sm;

  thead {
    th {
      @apply border-b;
    }
  }

  tbody {
    td {
      @apply border-b border-gray-200;
    }
  }

  thead th, tbody td {
    @apply py-1;

    &:not(:first-child):not(:last-child) {
      @apply px-2;
    }
  }
}