doctype
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="/css/style.css", attr)
    block head
  body
    header
      h1(class='w-1/3 pt-8 pb-4 mx-auto text-center text-xl font-bold') AsemDNS
    main(class='flex w-1/2 mx-auto p-4 bg-white border rounded')
      aside(class='w-1/4 px-2 border-r text-sm')
        ul
          li(class='py-1')
            a(class='link', href='/') Home
          li(class='py-1')
            a(class='link', href='/domains') Domains
          li(class='py-1')
            a(class='link', href='/users') Users
      div(class='w-3/4 pl-6')
        block content