doctype
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel="stylesheet", href="/css/style.css", attr)
    block head
  body
    header
      h1(class='w-1/3 pt-8 pb-4 mx-auto text-center text-xl font-bold') AsemDNS
    main(class='w-1/4 mx-auto p-4 bg-white border rounded')
      block content